@font-face {
  font-family: playfair;
  src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
  font-family: cantarelle;
  src: url(fonts/Cantarell-Regular.ttf);
  font-family: commissioner;
  src: url(fonts/Commissioner-VariableFont_FLAR\,VOLM\,slnt\,wght.ttf);
  font-family: sans;
  src: url(fonts/PTSansCaption-Regular.ttf);
  font-family: open-sans;
  src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

.logo{
    height: 130px;
    padding-left: 100px;
    padding-top: 20px;
}
.top-bar-right{
    padding-top: 30px;
    float: right;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.white-text{
  color: white;
}
.top-bar-right :hover{
  color: rgb(244, 150, 51);
}
#plan{
  background-color: rgb(246, 151, 33); 
  margin-right: 60px; 
  margin-top: 35px; 
  height: min-content;
  width: 120px;
  color: white; 
  font-size: 12px;
  font-weight: 600; 
  border-radius: 20px; 
}
#plan:hover{
  background-color: rgba(4,92,80,255);
}

.top-bar-right :focus{
  color: rgb(244, 150, 51);
  border-bottom: 2px solid rgb(244, 150, 51);
  
}

.first{
    background-image: url("images/bg3.png");
    background-repeat: no-repeat;  /* Optional: Controls how the image repeats */
    background-position: center;  /* Optional: Controls image position */
    background-size: cover; 
    opacity: 0.85; 
   
}
.top-part{
    display: flex;
    justify-content: space-between;
}

.aboutus-container{
  text-align: center;
  width: auto;
  margin-top: 200px;
  padding-bottom: 30px;

}


.aboutus-text{
  color: white;
  font-size: 50px;
  
}


.text-container{
    display: flex;
    align-items: baseline;
   
}
.line {
    width: 100%;  
    height: 1px;  
    border-top: 1px solid #ccc; 
    
  }
  .solution{
    margin-top: 30px;
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 200px;
  }
  .chevron-down-icon{
    color: white;
    text-align: center;
    padding-bottom: 20px;
  }
  .story{
    text-align: center;
    margin-top: 30px;
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: open-sans;
    color: rgb(97, 95, 95);
  }
  .believe{
    text-align: center;
    font-size: 22px;
    padding-bottom: 10px;
    font-family: sans;
    font-weight: bold;

  }
 
  #mainStory{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
  }
  #mainStory2{
    padding-left: 180px;
    padding-right: 180px;
  }
  .boatbg{
    background-color:rgb(249, 199, 142);
    width: 340px;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 60px;
    position: absolute;
    margin-left: 90px;
    margin-top: 110px;
    border-radius: 20px;
  }
  #cytext{
    gap: 1px;
  }
  .boat{
    padding: 100px;
    position: relative;
  }
  .boat img{
    width: 1100px;
    height: 180px;
    border-radius: 30px;
    padding-left: 3px;
  }
  .cytravel-africa{
    padding-top: 100px;
    padding-right: 80px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(97, 95, 95);
    
  }
  .the-team{
    text-align: center;
  }
  #tt{
    text-align: center;
    margin-top: 20px;
    font-size: 11px;
    letter-spacing: 4px;
    font-weight: bold;
    font-family: open-sans;
    color: rgb(97, 95, 95);
  }
  #tt1{
    font-weight: bold;
    font-size: 22px;
    font-family: sans;
    letter-spacing: 1px;
  }
  .culturalText{
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    color:rgb(97, 95, 95);
  }
  .rp{
    background-image: url("images/rp.jpeg");
    background-repeat: no-repeat;  /* Optional: Controls how the image repeats */
    background-position: center;  /* Optional: Controls image position */
    background-size: cover;  
    height: 180px;
    width: 180px;
    border-radius: 15%;
  }
  #padTeam{
    padding-left: 50px;
    padding-right: 50px;
  }
   .rp2{
    background-image: url("images/rp1.jpeg");
    background-repeat: no-repeat;  /* Optional: Controls how the image repeats */
    background-position: center;  /* Optional: Controls image position */
    background-size: cover;  
    height: 180px;
    width: 180px;
    border-radius: 15%;
    
   }
   #tteam{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 100px;
    
    
   }
   #pcontent{
    margin-top: 130px;
   }

   .wtwu{
    background-color: rgba(247,247,247,255);
    padding-left: 300px;
    padding-right: 300px;
   }
   .wtwu-title{
   
    padding-bottom: 10px;
    padding-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
   }
   .tot{
    text-align: center;
   }
   .green-text{
    color: rgba(4,92,80,255);
    padding-left: 10px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 1px;
    margin-bottom: 1px;
   }

  .chevron-down-icon :hover{
    color: aquamarine;
  }
  .wtwu-list{
    padding-bottom: 30px;
  }
  .tot{
    background-image: url("images/safarii.jpeg");
    background-repeat: no-repeat;  /* Optional: Controls how the image repeats */
    background-position: center;  /* Optional: Controls image position */
    background-size: cover;  
    
  }
  .tot-text{
    text-align: center;
    padding-top: 120px;
    color: white;
    font-family: commissioner;
    font-size: 18px;
    font-weight: bold;
  }

#footer{
  background-color: rgba(4,92,80,255);
  padding: 20px;
  display: flex;
  justify-content: center;
  color: white;
}
.column1{
  margin-left: 100px;
  margin-right: 100px;
}

.logob{
  text-align: center;

}
.line1 {
  width: 100%;  
  height: 1px;  
  border-top: 1px solid #ccc; 
}
#fa-icons{
  display: flex;
  justify-content: space-evenly;
}
#expert{
  display: flex;
  justify-content: space-between;
  padding: 1px;
}
#icon2{
  padding-right: 10px;
  color: rgba(4,92,80,255);
}
.mainFooter{
  background-color: rgb(11,92,80);
}
.downLogo{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
#bottomLogo{
  height: 130px;
}
.bottom-line{
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
}
#address{
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
}
#address-part{
  padding-left: 100px;
}
#add-details{
  color: white;
  font-size: 14px;
}
#address1{
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding-top: 20px;
}
#footer-part{
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
#newsletter{
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
}
#newsletter-text{
  color: white;
  font-size: 14px;
}
#email-part{
  background-color: rgb(16,82, 73);
  max-height: 50px;
  border-radius: 25px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
#email-part1{
  background-color: rgb(16,82, 73);
  max-height: 40px;
  border: none;
  width: auto;
  margin-top: 5px;
  margin-left: 10px;
  color: white;
  
}
#email-part1::placeholder{
  color: white;
}
#email-part1:focus{
  border: none;
}
#for-padding{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}
#submit-but{
  background-color: rgb(247, 173, 64);
  border-radius: 25px;
  width: 120px;
  margin: 5px;
  height: 40px;
  color: white;
  font-size: 14px;
}
#social-part{
  padding-right: 100px;
}
#social{
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
}
#icons-used{
  display: flex;
  gap: 1px;
}
#icon1{
  color: white;
  
}
.fa-brands{
  margin-right: 4px;
}

.icon-div{
  margin: 3px;
  border: 1px solid white;
  border-radius: 30px;
  align-items: center;
  padding:2px;
  padding-left: 8px;
  font-size: 12px;
}
.we-accept{
  padding-top: 30px;
}
#logos-used{
  display: flex;
  justify-content: space-between;
}
#iimg{
  padding: 3px;
  padding-left: 10px;
}
#final-content{
  background-color: rgb(9,55,48);
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
#down-contents{
  color: white;
  padding-left: 100px;
  font-size: 11px;
  font-weight: bold;
  display: flex;
  gap: 25px;
  
}
#copyright{
  color: rgb(189,203,201);
  font-size: 12px;
  padding-right: 100px;
}
#padding-set{
  padding-left: 30px;
  padding-right: 30px;
}