@font-face {
  font-family: playfair;
  src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

.logo{
    height: 130px;
    padding-left: 100px;
    padding-top: 20px;
}
.top-bar-right{
    padding-top: 30px;
    float: right;
    color: white;
    font-size: 16px;
}
.white-text{
  color: white;
}
.top-bar-right :hover{
  color: rgb(244, 176, 4);
}

.top-bar-right :focus{
  color: rgb(244, 176, 4);
}

.first{
    background-image: url("images/bg-photo.jpeg");
    background-repeat: no-repeat;  /* Optional: Controls how the image repeats */
    background-position: center;  /* Optional: Controls image position */
    background-size: cover;  
}
.top-part{
    display: flex;
    justify-content: space-between;
}

.aboutus-container{
  text-align: center;
  width: auto;
  margin-top: 500px;
  padding-bottom: 30px;

}


.aboutus-text{
  color: white;
  font-size: 50px;
  
}


.text-container{
    display: flex;
    align-items: baseline;
   
}
.line {
    width: 100%;  
    height: 1px;  
    border-top: 1px solid #ccc; 
    
  }
  .solution{
    margin-top: 30px;
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 200px;
  }
  .chevron-down-icon{
    color: white;
    text-align: center;
    padding-bottom: 20px;
  }
  .story{
    text-align: center;
    margin-top: 50px;
    font-size: 13px;
    font-weight: bold;
    color: gray;
  }
  .believe{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;

  }
  .boat{
    padding: 100px;
  }
  .cytravel-africa{
    padding: 80px;
    
  }
  .the-team{
    text-align: center;
  }
  #tt{
    color: gray;
    font-size: 14px;
    font-weight: bold;
  }
  #tt1{
    font-weight: bold;
    font-size: 20px;
  }
  .rp{
    background-image: url("images/rp.jpeg");
    background-repeat: no-repeat;  /* Optional: Controls how the image repeats */
    background-position: center;  /* Optional: Controls image position */
    background-size: cover;  
    height: 200px;
    width: 200px;
    border-radius: 15%;
  }
   .rp2{
    background-image: url("images/rp1.jpeg");
    background-repeat: no-repeat;  /* Optional: Controls how the image repeats */
    background-position: center;  /* Optional: Controls image position */
    background-size: cover;  
    height: 200px;
    width: 200px;
    border-radius: 15%;
    
   }
   #tteam{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 100px;
    
   }
   #pcontent{
    margin-top: 140px;
   }

   .wtwu{
    background-color: rgb(218, 214, 214);
   }
   .wtwu-title{
    padding: 30px;
    text-align: center;
    font-weight: bold;
   }
   .tot{
    text-align: center;
   }
   .green-text{
    color: green;
    padding-left: 100px;

   }

  .chevron-down-icon :hover{
    color: aquamarine;
  }
  .wtwu-list{
    padding-bottom: 30px;
  }
  .tot{
    background-image: url("images/safarii.jpeg");
    background-repeat: no-repeat;  /* Optional: Controls how the image repeats */
    background-position: center;  /* Optional: Controls image position */
    background-size: cover;  
  }
  .tot-text{
    text-align: center;
    padding: 50px;
    color: white;
    font-size: 28px;
    font-weight: bold;
  }

#footer{
  background-color: green;
  padding: 20px;
  display: flex;
  justify-content: center;
  color: white;
}
.column1{
  margin-left: 100px;
  margin-right: 100px;
}

.logob{
  text-align: center;

}
.line1 {
  width: 100%;  
  height: 1px;  
  border-top: 1px solid #ccc; 
}
#footer1{
  background-color: green;
  color: white;
  display: flex;
  justify-content: space-between;
}